{{ define "comment" }}
    {{range .}}
        <p>{{.Creator}} - {{.Content}}</p>
        <form action="/reaction"  method="post">
            <input type="hidden" name="object" value="comment">
            <input type="hidden" name="id" value="{{.ID}}">
            <input type="submit" name="reaction" value="like">
            <input type="submit" name="reaction" value="dislike">
        </form>
        <details>
            <summary>Likes - {{.Likes.Count}}</summary>
            <ul>
                {{range .Likes.Users}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </details>
        <details>
            <summary>Dislikes - {{.Dislikes.Count}}</summary>
            <ul>
                {{range .Dislikes.Users}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </details>
        <form class="replyform" method="post">
            <input type="hidden" name = "parent" value="{{.ID}}">
            <input type="text" name="content">
            <input type="submit" value="create">
        </form>
        <br>
        {{if gt (len .Replies) 0}}
            {{template "comment" .Replies}}
        {{end}}
    {{end}}
{{end}}

{{ template "comment" .}}