<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{if .IsAuthorized}}
    <a href="/posts/create">create</a>
    <form action="/logout" method="post">
        <button>
            Sign out
        </button>
    </form>
    {{else}}
        <a href="/signup">signup</a>
        <a href="/signin">signin</a>
    {{end}}
    <form method="get" id="filterform">
        <div class="filters">
            <input type="checkbox" id="filter" name="filter" value="1"> General discussions
            <input type="checkbox" id="filter" name="filter" value="2"> Technical support
            <input type="checkbox" id="filter" name="filter" value="3"> Programming <br>
            <input type="checkbox" id="filter" name="filter" value="4"> Networking and security
            <input type="checkbox" id="filter" name="filter" value="5"> Career and education
            <input type="checkbox" id="filter" name="filter" value="6"> Mobile and web development <br>
            <input type="checkbox" id="filter" name="filter" value="7"> Operating systems and software
            <input type="checkbox" id="filter" name="filter" value="8"> Gaming
            <input type="checkbox" id="filter" name="filter" value="9"> Industry news and trends
        </div>
        <button type="submit" class="filter_button">
            Submit
        </button>
    </form>
    {{if .IsEmpty}}
    <label>Your search returned no results...</label>
    {{end}}
    {{ range .Content}}
    <a href="/posts/{{.ID}}">{{.Title}} - author: {{.Creator}} - comments: {{.CmntCount}}</a><label>L - {{.Likes.Count}}
        D - {{.Dislikes.Count}} {{range .Categories}}{{.}}{{end}}</label>
    <br>
    <form action="/reaction" method="post">
        <input type="hidden" name="object" value="post">
        <input type="hidden" name="id" value="{{.ID}}">
        <input type="submit" name="reaction" value="like">
        <input type="submit" name="reaction" value="dislike">
    </form>
    {{ end }}

</body>

</html>