<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>

<body>
    <form action="/signup" method="POST">

        <label for="email">E-mail</label><br>
        <input type="text" name="email" value="{{if .Content}}{{.Content.Email}}{{end}}"><br>
        {{with .ErrMsgs.email}}
            <label>{{.}}</label>
        {{end}}<br>
        
        <label for="name">Username</label><br>
        <input type="text" name="name" value="{{if .Content}}{{.Content.Name}}{{end}}"><br>
        {{with .ErrMsgs.name}}
            <label>{{.}}</label>
        {{end}}<br>
        
        <label for="password">Password</label><br>
        <input type="text" name="password"><br>
        {{with .ErrMsgs.pass}}
            <label>{{.}}</label>
        {{end}}<br>

        <label for="conpassword">Confirm Password</label><br>
        <input type="text" name="conpassword"><br>
        {{with .ErrMsgs.conpass}}
            <label>{{.}}</label>
        {{end}}<br>
        <input type="submit" value="SIGN UP">
    </form>
</body>